<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
	
  <servlet>
      <servlet-name>ResumeComponent</servlet-name>
      <jsp-file>/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>ResumeComponent</servlet-name>
      <url-pattern>/resume</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>PortfolioComponent</servlet-name>
      <jsp-file>/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>PortfolioComponent</servlet-name>
      <url-pattern>/portfolio</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ContactComponent</servlet-name>
      <jsp-file>/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>ContactComponent</servlet-name>
      <url-pattern>/contact</url-pattern>
  </servlet-mapping>
    


</web-app>
